.phone {
  font-family: Arial, suns-serif;
  font-size: 18px;
  color: #5e696d;
  letter-spacing: 0.4px;
}
.phone img {
  margin-top: 21px;
  margin-left: 4px;
  float: left;

}
.phone div {
  margin-top: 25px;
  margin-left: 5px;
  float: left;

}
.chel {
  float: left;
  width: 18px;
  height: 23px;
  background: linear-gradient(to top, #0e375b, #1f6685);
  margin-top: 18px;
  margin-left: 17px;
  border-radius: 3px 0 0 3px;
  padding-top: 0px;
  padding-bottom: 3px;
  padding-left: 3px;
  box-shadow: 2px 2px 3px grey;
}
.blueform {
  margin-top: 18px;
  margin-left: px;
  float: left;
  width: 470px;
  height: 23px;
  background: linear-gradient(to top, #0e375b, #1f6685);
  border-radius:0 3px 3px 0;
  padding-top: 3px;
  padding-left: 2px;
  padding-bottom: 0px;
  box-shadow: 2px 2px 3px grey;


}

.blueform input {
  font-family: 'Lucida Sans Unicode', Arial, suns-serif;
  font-size: 10px;
  color: #97a2a6;
  border-radius: 3px;
  padding-left: 5px;
  padding-top: 4px;
  padding-bottom: 0.5px;
  width: 107px;
  height: 9px;

}

.blueform form {
width: 274px;
display: inline-block;


}
#submit {
  border: none;
  background: transparent;
  font-family: 'Lucida Sans Unicode', Arial, suns-serif;
  font-size: 10px;
  font-weight: 600;
  color: white;
  width: 30px;
  height: 15px;
  padding: 0 0 7px 2px;
}
.sub {
width: 30px;
height: 15px;
float: left;
padding-left: 238px;
margin-top: -20px;
}
.re {
width: 40px;
height: 15px;
padding-left: 272px;
margin-top: -16px;
}
.fo {
    width: 96px;
    padding-left: 366px;
    margin-top: -19px;
    float: left;
}
#reg {
  font-family: 'Lucida Sans Unicode', Arial, suns-serif;
  font-size: 10px;
  font-weight: 600;
  color: white;
  margin-right: 25px;
  width: 100px;
  float: left;

}

#forget {
  font-family: 'Lucida Sans Unicode', Arial, suns-serif;
  font-size: 10.7px;
  color: #bfbfbf;
  border-bottom: 1.8px solid #bfbfbf;
  font-weight: 600;
  letter-spacing: 0.5px;
}
#forget a {
  line-height: 0.1px;
}
.small {
  float: right;
  width: 63px;
  height: 18px;
  border: 1px solid #bfbfbf;
  border-radius: 20px;
  padding-left: 10px;
  padding-top: 0px;
  margin-top: 20px;
  margin-right: 100px;
  box-shadow: 0.1px 0.1px 4px grey;
}
.home {
  padding-right: 2px;
}
.mail {
  padding-left: 4px;
}
.baner {
  margin-top: 8px;
}
.nav1 {
clear: both;
width: 808px;
    height: 31px;
    background: linear-gradient(to top, #070809, #1b1d20, #464d54);
    border-radius: 4px;
    text-align: right;
    padding-top: 2px;
    padding-bottom: 1px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-top: 2px;
    padding-left: 102px;
}

.nav1 li a {
  color: #b1bcc0;
  font-family:'Lucida Sans Unicode', Arial, suns-serif;
  font-size: 13.64px;
  padding-left: 19px;
  padding-right: 19px;
  margin-right: 0px;
  margin-left: -10px;
  font-weight: 600;
  padding-top: 1px;
  padding-bottom: 3px;

}
.bask {
  margin-right: -22px;
}
.nav1 li a:hover {
  background-color: #164e70;
  color: white;
  border-radius: 20px;
  height: 20px;
}
.nav1 li:last-child {
  padding-left: 43px;
}
.nav1 li:last-child a:hover {
  background-color: transparent;
}

.number {
  color: #0d5a8f;
  font-family: Arial, suns-serif;
  font-size: 13px;
  font-weight: 600;
}
.number2 {
color: #0d5a8f;
font-family: Arial, suns-serif;
font-size: 13px;
padding-left: 4px;
padding-right: 13px;
font-weight: 600;

}
.words {
  font-family: Arial, suns-serif;
  color: #929b9f;
  font-size: 10px;
  padding-left: 11px;
  letter-spacing: 0.8px;
}
main {
  margin-top: 164px;
}
#bar1 {
  width: 194px;
  height: 632px;
  float: left;
}
#bar1 ul li img {
  display: block;
}
#bar1 li {
  margin-top: 0px;
  margin-bottom: 1px;
  padding-bottom: 1px;
  display: block;


}
#bar1 ul li ul li {
  height: 25px;


}
#bar1 ul .marker {

  list-style: circle;

}
#bar1 .diski {
  margin-top: -14px;
}
#bar1 .bolti {
  margin-top: -14px;
}
#bar1 ul li ul li a {
  color: #465961;
  font-family:'Lucida Sans Unicode', Arial, suns-serif;
  font-size: 12.73px;
  padding-left: 45px;
  padding-right: 7px;
  padding-top: 1px;
  padding-bottom: 1px;

}

#bar1 ul li ul li a:hover {
  color: #0c3256;
  font-family:  Arial, suns-serif;
  font-size: 14px;
  text-decoration: underline;
  font-weight: bold;
  font-style: italic;

}
#bar1 .marker img {
margin-left: 34px;
height: 10px;
width: 10px;
position: absolute;
margin-top: 4px;
}
#bar1 .marker img:hover {
  background-image: url(img/marker2.png);
}
#bar1 .dis img {
margin-left: 34px;
height: 10px;
width: 10px;
position: absolute;
margin-top: 4px;
}
#bar1 .bol img {
margin-left: 34px;
height: 10px;
width: 10px;
position: absolute;
margin-top: 4px;
}

.big {
  width: 524px;
    height: 628px;
    float: left;
    background: linear-gradient(to top, #93a7b0, #e4e7e8);
    border-radius: 3px;
    margin-left: -3px;
    margin-top: -3px;
}
figure {
  float: left;
  margin:16px 9px 10px 22px;

}
figure div {
  width: 137px;
  height: 129px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 3px;
  border: 1px solid #95a8b1;
}
figure img {
  margin-left: 30px;
  margin-top: 1px;
  padding-top: 5px;
}
figcaption {
  text-align: center;
  color: #206988;
  font-family:'Lucida Sans Unicode', Arial, suns-serif;
  font-size: 14.59px;
  font-weight: 700;
  line-height: 1;
}
figcaption p {
  text-align: center;
  color: #1f2528;
  font-family:'Lucida Sans Unicode', Arial, suns-serif;
  font-size: 12.77px;
}
figure span {
  margin-left: 35px;
  color: #114165;
  font-family: Arial, suns-serif;
  font-size: 16px;
  font-weight: 800;
  font-style: italic;
  text-align: center;
  letter-spacing: 1px;
}
figure .grn {
  margin-left: 2px;
  color: #114165;
  font-family: Arial, suns-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
}
#bar2 {
  float: left;
  width: 194px;
  height: 632px;
  margin-left: 7px;
  margin-top: -3px;

}
#bar2 .shini2 {
  margin-left: 16px;
  margin-top: 6px;
}
#bar2 .diski2 {
  margin-left: 16px;
  margin-top: 16px;
}
#bar2 input[type=checkbox] {
margin-bottom: 15px;
display: none;

}
#bar2 input[type="checkbox"] + label {
  color: #465961;
  font-family:'Lucida Sans Unicode', Arial, suns-serif;
  font-size: 12.73px;
  cursor: pointer;
  margin-left: 25px;
}
#bar2 input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    height: 14px;
    width: 15px;
    margin: 0 10px 2px 0;
    background-image: url(img/check1.png);
    background-repeat: no-repeat;
}
#bar2 input[type="checkbox"] + label::before {
    background-position: 1px -16px;
}
#bar2 input[type="checkbox"]:checked + label::before {
    background-position: 1px 2px;
}


 .submit {
  width: 81px;
  height: 26px;
  border-radius: 20px;
  color: #e5e9ea;
  font-family: Arial, suns-serif;
  font-size: 11px;
  background-color: #103f63;
  border: none;
  box-shadow: 3px 3px 0px grey;
  margin-left: 26px;
  margin-top: 25px;
}
footer {
  clear: both;
}
.bottom {
  width: 909px;
    height: 101px;
    background-color: #213a4d;
    padding-top: 8px;
    margin-top: 6px;
}
footer img {
  margin-left: 110px;
  margin-top: 23px;

}


footer nav li {

  text-align: center;

  padding-left: 8px;
  margin-left: 8px;
}
footer nav li a {
  color: #bec6c9;
font-family: Arial, suns-serif;
font-size: 12px;
text-align: center;
margin-left: -10px;
margin-right: 7px;
}
footer nav li a:hover {
  color: #52abcb;
}

footer nav {
  text-align: center;
}
footer span {
  padding-left: 10px;
  color: #bec6c9;
  font-size: 12px;
}
.copy {
  color: #7f4740;
  font-family: Arial, suns-serif;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0.3px;
  margin-top: 14px;
}
